/*-- scss:defaults --*/

// Get fonts
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Source+Sans+3&display=swap');

// set fonts
$font-family-sans-serif: "Source Sans 3";

$headings-font-family: "Crimson Text" !default;
$headings-font-weight: 400 !default;

/*-- scss:rules --*/

.center-text {
  text-align: center;
}

main, p{
  font-size: 1.1rem !important;
  font-family: $font-family-sans-serif;
}

.callout.callout-style-default .callout-body {
    font-size: 1.2rem;
    font-weight: 400;
}

